body {
  padding-top: 56px;
}

a {
  color: #194185;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #194185;
  text-decoration: underline;
}

.btn-primary {
  color: #fff;
  background-color: #e95439;
  border-color: #e95439;
}

.btn-primary:hover {
  color: #fff;
  background-color: #c4412a;
  border-color: #c4412a;
}

.btn-secondary {
  color: #194185;
  background-color: white;
  border-color: #194185;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #194185;
  border-color: #194185;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #194185;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

/* NAVBAR */

.nav-shadow {
  box-shadow: 0px 14px 26px -15px rgba(0, 0, 0, 0.2);
}

.nav-margin {
  padding-right: 2.5rem !important;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #194185;
  font-weight: bold;
}

/* HEADER */

.jumbotron {
  background-color: #d7dce2;
}

/* TOP PRODUCTOS */

.carousel-item {
  height: 0vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* NUMEROS */

.counter {
  background-color: #efeff0;
  text-align: center;
  margin-bottom: 40px;
}
.employees,
.customer,
.design,
.order {
  margin-top: 40px;
  margin-bottom: 40px;
}
.counter-count {
  font-size: 18px;
  border-radius: 50%;
  position: relative;
  color: #e95439;
  text-align: center;
  line-height: 92px;
  width: 92px;
  height: 92px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  font-weight: bold;
}

.employee-p,
.customer-p,
.order-p,
.design-p {
  font-size: 16px;
  font-weight: bold;
}

/* breadcrumb */

.breadcrumb {
  background-color: #efeff0;
}

@media (min-width: 992px) {
  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    top: 89px;
  }
}
